<div class="card">
  <div class="card large">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../images/lane.jpg" ng-click="getRandom()">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" ng-click="getRandom()">Stories<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Stories<i class="material-icons right">close</i></span>
        <p><h4><strong>{{comment.firstName}} {{ comment.lastName}}</strong></h4></p class="flow-text">{{comment.stories}}</p>
      </div>
    </div>
</div>
