<div class="row">
    <form class="col s12" ng-submit="createComment()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="formData.firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="formData.lastInitial">
          <label for="last_name">Last Initial</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" ng-model="formData.testimonial"></textarea>
          <label for="textarea1">Testimonial</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light blue" type="submit" name="action">Be Heard
      </button>
    </form>
</div>


<div class = "container" class="right" ng-repeat="comment in comments">
      <div class="col s12 m6">
          <div class="card grey lighten-1">
                <div class="card-content white-text">
                  <div class="message">
                    <h5>{{ comment.firstName}} {{ comment.lastInitial }}</h5>
                    <p> {{ comment.testimonial }}</p>
                    <span data-id="{{comments}}"></span>
                  </div>
                </div>
              <button type="btn waves-effect waves-red" name="button" ng-click="removeComment(comment._id)">X</button>
          </div>
      </div>
</div>
